/*
 * Author: Fahim Kawsar
 * Bell Labs.
 */	


@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	background: #f8f8f8; /*eee*/
	font-family: "Droid Sans"; 
    font-size: 12px;
    color:#333;
    margin: 0;
    border: 0;
 }

img {
	border: none;
}

a {
	color:#008bd8;
	text-decoration:none;  
}

a:hover {
	text-decoration:none;
	color:#FB6D15; 
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 80px;
	text-align: right;
	color: #9d9fa8; /*#111; */
	margin-top: 10px;
	margin-bottom: 30px;
	/*text-shadow:-1px 1px 1px #CCC*/
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	text-align: right;
	color: #9d9fa8; 
	margin-top: 10px;
	/*text-shadow:0px 1px 1px #CCC;*/
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	color: #333; 
	margin-top: 10px;
	/*text-shadow:0px 1px 1px #CCC;*/

}

.shadow {
	-moz-box-shadow: 2px 2px 8px #CCC;
	-webkit-box-shadow: 2px 2px 8px #CCC;
	box-shadow: 2px 2px 8px #CCC;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#CCCCCC')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#CCCCCC');
}



.property {
	width : 80%;
	min-width: 1024px;
	padding:2%;
	overflow-y: auto;
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
	border: 1px solid #CCC;
	position: relative;
}


div#intro {
   	min-height : 80px;
   	color: #444;
    background-color: #f8f8f8;
    font-size: 12px;
    border-top:0;
    background: url(../images/background.png) repeat;
    text-shadow:-1px 1px 0px white;
  
}

div#menu-bar {

	padding-top: 5px;
	font-size: 20px;
	text-align: left;
	height: 70px;
	color : #008bd8;
	border-bottom: 0;
}
.menu-item {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: right;
	margin-top: 10px;

}
div#header {
	height:380px;  
	position:relative;
	border-bottom: none;
	padding-left: 2%;
	overflow-y: hidden;
}

div#top-banner {

	 background: url(../images/top-banner.png) repeat;
	 width:100%; 
	 height: 310px; 
	 position:absolute; 
	 left:0px; 
	 top:140px; 
	 overflow-y:auto;
	
	 
}


.banner {

	max-width:100%; 

}

.portrait {
	border : 6px solid white;
	width: 280px;
}

ol 
{
margin-left: -10px;
margin-top: -5px;

}

ol li 
{
margin-top: 15px;
font-size: 12px;


}


ul li 
{
list-style: none;
color: #111; 
font-size: 12px;
}


ul.news li {

	text-indent: -1em;
	font-size: 12px;
	color: #444;

}

ul.news li:before {

	content: "+";
	color :"#444";

}


div#resume {
   	height : 410px;
    color: #444;
    background-color:#FFF;
    border-top: 0; 
    min-width: 1024px;
    text-shadow: #CCC 0 -1px 1px;
}



div#service {
   	min-height : 300px;
   	color: #000;
    background-color: #e7eeef;
    font-size: 12px;
    text-align: justify;
    border-top: 0;
    min-width: 1024px;
    text-shadow: #CCC 0 -1px 1px;
}


div#talks {
   	min-height : 500px;
   	color: #444;
    background-color: #f8f8f8;
    font-size: 12px;
    border-top:0;
    min-width: 1024px;
    overflow-x: hidden;
    text-shadow: #CCC 0 -1px 1px;
   	
}

div#publication {
   	min-height : 300px;
   	color: #444;
    background-color: #FFF;
    border-top:0;
    min-width: 1024px;
}


div#patent {
   	min-height : 300px;
   	color: #000;
    background-color: #e7eeef;
    font-size: 12px;
    text-align: left;
    border-top: 0;
    min-width: 1024px;
    text-shadow: #CCC 0 -1px 1px;
}

.paper-list-wrapper {

	min-height: 50px;
	overflow-y: auto;
	margin-bottom: 50px;
}

.year{
	
		width : 28%;
		text-align: right;
		padding-right: 1%;
		float: left;
		position: relative;	

		
}

.paper-list{
	
		width : 68%;
		text-align: justify;
		padding-left: 1%;
		border-left:1px solid #CCC;
		float: right;
		
}

.patent-list{
	
		width : 98%;
		text-align: left;
		padding-left: -20%;
		float: left;
		
}


.social-icon{
	padding-left: 10px;
	width: 96px;
}
.social-icon-small{
	padding-left: 15px;
	width: 32px;
}


div#contact-footer {
   	height : 250px;
    color: #111;
   	background-color: #f8f8f8;
	font-size: 12px;
   /* background-color: #1d2125;*/
    background: url(../images/background.png) repeat;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top:0;
    text-shadow:-1px 1px 0px white
    
   	
}

div#copyright-footer {
   	height : 30px;
    padding-top: 10px;
   	padding-bottom: 2px;
   	color: #111;
   	background-color: #e7eeef;
    /*background-color:#272d32;*/
    font-size: 11px;
    text-align: center;
      border-top:0;
  
}

.clear{
    clear:both;
}

.social-links{
	list-style-type:none;
	width: 310px;

}

.social-links li{
	padding-top: 0px;
	list-style:none;
	display:inline-block
}

